body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
}
header .menu {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu-line {
    height: 3px;
    background-color: #333;
}

.container {
    display: flex;
    height: 100vh;
}
.container .left {
    flex: 1;
}
.container .right {
    flex: 1;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}